*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-color: rgba(219, 219, 231, 0.897);
    background:linear-gradient (white 25%,black );
}

.navbar{
    background-color: black;
    position: fixed;

    
}

.ul{
   list-style-type: none;
   display: flex;
   gap: 50px;
   
}

.ul a{
    text-decoration: none;
}

.ul a:hover{
    color: white;
}

.blvck{
    
    border: 2px solid white;
    border-radius: 75px;
    background-color: white;
}

.blvck a{
    text-decoration: none;
    font-weight: 700;
    font-size: larger;
}


.blk{
    float: right;
    height: 600px;
    padding: 130px;
    width: 600px;
    background-size: cover;
    margin-right: 250px;

}

.blk h1{
    color: blue;
    font-size: 10em;
    margin-top: 50px;
}

.blk img:hover{
     box-shadow: 5px 5px 5px;
}

.joes{
    
    text-align: right;
    text-shadow: 2px 2px 3px;
    margin-right: 200px;
    

}


.about{
    text-align: center;
    font-weight: 500px;
    margin-top: 75%;
}

.section{
    padding: 30px;
    background-color: grey;
    margin: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("/images/code.jpg");
    background-size: cover;
}

.section:hover{
    box-shadow: 5px 5px 5px;
   
}

.sec1{
    color: black;
    height: 50vh;
    padding: 50px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 45px;
    background-image: url("/images/code.jpg");
    background-size: cover;
    
}

.sec1:hover{
    box-shadow: 5px 5px 5px;
    color: white;
    
}


.sec2{
    height: 50vh;
    padding: 50px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 45px;
}

.sec2:hover{
    box-shadow: 5px 5px 5px;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 3px;
}

.sec3{
    color: white;
    height: 50vh;
    padding: 50px;
    background-image: url("/images/jk.jpg");
    background-size: cover;
    border: 2px solid blue;
    border-radius: 45px;
}  

.sec3:hover{
    box-shadow: 5px 5px 5px;
    color: white;
}

.sec3 a:hover{
    color: white;
    font-weight: 700;
}

.section h1{
    text-align: center;
    color: white;
}

 

.sec4:hover{
    box-shadow: 5px 5px 5px;
    color: white;
}
.sec4{
    color: white;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 45px;
    height: 30vh;
    padding: 50px;
    background-color: black;
    border: 2px solid black;
    border-radius: 45px;
}

.sec4>h1{
    color: white;
    text-align: right;
}

.mail{
    padding: 50px;

    color: blue; 
    border-radius: 45px;
    text-align: center;
}

.mail a{
    text-decoration: none;
}

.tell{
    padding: 50px;
    color: blue; 
    border-radius: 45px;
    text-align: center;
}

.tell a{
      text-decoration: none;
}

.socials{
    padding: 50px;
    color: blue; 
    border-radius: 45px;
    text-align: center;
}


